**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/*.log
**/*.md
**/*/.DS_Store
**/*/.gitignore
**/*/.vscode
**/*/dist
**/*/node_modules
**/.classpath
**/.dockerignore
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/Dockerfile*
**/charts
**/compose*
**/docker-compose*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
Dockerfile
LICENSE
README.md


!/shared/dist/**/*.*
