# Node.js dependencies
/node_modules
**/*/node_modules/
**/*/npm-debug.log*

# Build output
**/*/dist/**/*
**/*/tmp/
**/*/temp/

# Environment files
.env

# OS files
**/*.DS_Store
**/*Thumbs.db

# Optional: logs
**/*/logs/
**/*.log

# Optional: TypeScript
**/*.tsbuildinfo

# Generated TLS Certificates
/cert/**/*.*


# We are going to keep the shared
# code build artifacts in GH
# this would make it easier to
# start runnign with Docker
!/shared/dist/**/*.*

